body{
    background-color: lightblue;
    background-image: url("IMAGES/boss.png");
}

h1{
    color: mediumblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    width: 200;
}

p{
    color: lightseagreen;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
 .h2{
     color:limegreen;
     font-family: Georgia, 'Times New Roman', Times, serif;
     text-align: center;
     
 }